*.class
DuktapeEngineDemo/.idea/
*/.idea/
*/.settings/
dev-server/node_modules/
DuktapeDemo/DuktapeEngineDemo/build
DuktapeDemo/DuktapeEngine/build
DuktapeDemo/build/
DuktapeDemo/bin/
DuktapeDemo/obj/
DuktapeDemo/.settings/
DuktapeDemo/.gradle/
DuktapeCore/DuktapeJava/build/
DuktapeCore/DuktapeJava/.gradle/
DuktapeCore/build/
DuktapeCore/.gradle/
DuktapeCore/bin/
DuktapeCore/.settings/
DuktapeCore/captures/
DuktapeDemo/captures/
DuktapeCore/DuktapeJava/src/main/obj/