*.class
DuktapeEngineDemo/.idea/
*/.idea/
*/.settings/
dev-server/node_modules/
DuktapeCoreTest/DuktapeEngineTest/build
DuktapeCoreTest/build/
DuktapeCoreTest/bin/
DuktapeCoreTest/obj/
DuktapeCoreTest/.settings/
DuktapeCoreTest/.gradle/
DuktapeCore/DuktapeEngine/build/
DuktapeCore/DuktapeEngine/.gradle/
DuktapeCore/build/
DuktapeCore/.gradle/
DuktapeCore/bin/
DuktapeCore/.settings/
