<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.furture.react.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> 
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    
    
    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
       <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="hSIvvn2rT3Qdcv2kEzcgNwMq" />
        <activity
            android:name="com.furture.react.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.furture.react.activity.DukActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.furture.react.activity.ScriptTestActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.furture.react.activity.SampleOneActivity"
            android:label="@string/title_activity_sample_one" >
        </activity>
        <activity
            android:name="com.furture.react.activity.CommonOneActivity"
            android:label="@string/title_activity_sample_one" >
        </activity>
        <activity
            android:name="com.furture.react.hybrid.HybridActivity"
            android:label="@string/title_activity_sample_one"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.furture.react.activity.AsyncTaskTestActivity"
            android:label="@string/title_activity_async_task_test" >
        </activity>
        <activity
            android:name=".HttpClientActivity"
            android:label="@string/title_activity_http_client" >
        </activity>
        
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
</service>
    </application>

</manifest>
